* {
    padding: 0;
    margin: 0;
    border: solid 1px orange;
}

body {
    display: flex;
    align-items: flex-start;
    align-self:stretch;
    justify-content:stretch;
}

.title{
    display:flex;
    padding:30px 10px;
    justify-content:center;
    align-items:center;
    align-self:stretch
}