@use '../base/_variables' as var;

header {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    padding: 30px 100px;
    width: 100vw;
    height: 50px;
    z-index: 1000;
    background: var.$gray-05;
    backdrop-filter: blur(3px);
}
