@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: fixed;
  padding: 30px 100px;
  width: 100%;
  height: 50px;
  z-index: 1000;
  /* 模糊效果 */
}

.cover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("/static/images/00200-3033230104.png") lightgray 50%/cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-shrink: 0;
}

.empty {
  display: flex;
  width: 510px;
  height: 193px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 20px;
  flex-shrink: 0;
}

.cover-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

title {
  display: flex;
  height: 200px;
  padding: 50px 10px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
}

section {
  display: flex;
  padding: 50px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.p-50-0 {
  padding: 50px 0px;
}

.p-100-0 {
  padding: 100px 0px;
}

.display-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.product-list {
  display: flex;
  flex-direction: column;
  width: 970px;
  align-items: center;
  align-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.job-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.skill-list {
  display: flex;
  width: 1000px;
  align-items: center;
  align-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

footer {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0px 200px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Text-Color, #000);
}

h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h5 {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-weight: 800;
}

h6 {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow-wrap: break-word;
}

.text-white {
  color: var(--Text-Color, #FFF);
}

.text-black {
  color: var(--Text-Color, #000);
}

.text-gray {
  color: var(--Text-Color, #888);
}

.btn {
  display: inline-flex;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  border: none;
  backdrop-filter: blur(5px);
}

/* 圓角 */
.btn-rounded {
  border-radius: 25px;
}

/* 方形 */
.btn-square {
  border-radius: 0;
}

/* 框線按鈕 */
.btn-outline-black {
  background-color: transparent;
  border: 2px solid var(--Background-Color, rgb(0, 0, 0));
}

.btn-outline-white {
  background-color: transparent;
  border: 2px solid var(--Background-Color, rgb(255, 255, 255));
}

.btn-bg-white {
  background: var(--Background-Color, rgb(255, 255, 255));
}

.btn-bg-black {
  background: var(--Background-Color, rgb(0, 0, 0));
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.options {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

/* 商品*/
.product-card {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: var(--Reverse-Background-Color, rgb(255, 255, 255));
}

.product-card-img {
  width: 100%;
  height: 250px;
  align-self: stretch;
}

.product-card-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: stretch;
}

/* 作品 */
.portfolio-vertical {
  display: flex;
  width: 290px;
  height: 357px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
}

.featured-portfolio-vertical {
  display: flex;
  width: 500px;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  /* 模糊效果 */
  backdrop-filter: blur(25px);
}

.featured-portfolio-img {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.featured-portfolio-content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.title-time-flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

/* 滿版作品展示 */
.portfolio-full-horizontal {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
}

.portfolio-full-vertical {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 職缺 */
.job-card-horizontal {
  display: flex;
  width: 334px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.job-card-img {
  display: flex;
  width: 70px;
  height: 70px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
}

.job-card-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  flex: 1 0 0;
  align-self: stretch;
}

.skill-card {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.content-us {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 25px;
}

.title-time-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: stretch;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  /* 移除左側預設縮進 */
  margin-left: 0;
  /* 視情況調整間距 */
}

a {
  color: var(--Text-Color, #FFF);
  text-decoration: none;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  object-fit: cover;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.gap-20 {
  gap: 20px;
}

.gap-50 {
  gap: 50px;
}

.gap-100 {
  gap: 100px;
}

/*# sourceMappingURL=style.css.map */
