// File: components/_contact-us.scss

.content-us {
    display: flex;
    max-width: 600px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(125, 125, 125, 0.5);
}

.title-time-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}
