// File: components/_join-us.scss

.join-us {
    display: flex;
    width: 100%;
    padding: 100px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
