// scss/global.scss
// 全局設置，包括 box-sizing 和 HTML、body 樣式
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: solid 1px orange;
}

html {
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    width: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 0;
    /* 移除左側預設縮進 */
    margin-left: 0;
    /* 視情況調整間距 */
}

a {
    color: var(--Text-Color, #FFF);
    text-decoration: none;
}

img {//undo 修改成適當大小
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    object-fit: cover;
    flex-shrink: 0;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.p-50-0 {
    padding: 50px 0px;
}

.p-100-0 {
    padding: 100px 0px;
}

.gap-10 {
    gap: 10px;
}

.gap-20{
    gap:20px
}

.gap-50{
    gap:50px
}

.gap-100{
    gap:100px
}