.btn {
    display: inline-flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    border: none;

    backdrop-filter: blur(5px);
}

/* 圓角 */
.btn-rounded {
    border-radius: 25px;
    overflow: hidden;
}

/* 方形 */
.btn-square {
    border-radius: 0;
}

/* 框線按鈕 */
.btn-outline-black {
    background-color: transparent;
    border: 2px solid var(--Background-Color, rgba(0, 0, 0));
}

.btn-outline-white {
    background-color: transparent;
    border: 2px solid var(--Background-Color, rgba(255, 255, 255));
}

// .btn-icon{

// }

.btn-bg-white {
    background: var(--Background-Color, rgba(255, 255, 255));
}

.btn-bg-black {
    background: var(--Background-Color, rgba(0, 0, 0));
}