// scss/font.scss

h1 {
    font-family: Inter;
    // font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h5 {
    // display: inline-flex;
    // justify-content: center;
    // align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-weight: 800;
}

h6 {
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow-wrap: break-word;
}

.text-white {
    color: var(--Text-Color, #FFF);
}

.text-black {
    color: var(--Text-Color, #000);
}

.text-gray {
    color: var(--Text-Color, #888);
}