h1 {
    font-family: Inter;
    // font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

// h2 {}

h3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

// h4 {}

h5 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

// h6 {}

.text-white {
    color: var(--Text-Color, #FFF);
}

.text-black {
    color: var(--Text-Color, #000);
}